.Top-container{
    margin-left: 20px;
    margin-right: 20px;
}
.navbar{
    display:flex;
    gap: 20px;
    justify-content:flex-start;
    padding-top: 20px;
}

.navbar a{
    text-decoration:none;
    border-radius: 3px;
    padding: 5px;
    text-align:center;
    font-size: 20px;
}

.navbar a:hover{
    background-color: #1B56FD;
    color: white;
}
p a{
    text-decoration: none;
}
.about-info{
    font-size: 25px;
    text-align: justify;
}
p a:hover{
    color: #1B56FD;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
.project-info p{
    font-size: 25px;
}
ul,ol{
    font-size: 25px;
}
li a{
    text-decoration: none;
}

.Certificate-section{
    margin-top: 20px;
}
.project-info{
    margin-top: 20px;
}
.about-info{
    margin-top: 20px;
}

ol ul{
    margin-bottom: 15px;
}
@media(max-width:600px){
    .navbar{
        justify-content: center;
        width: 100%;
    }
    .about-info{
        font-size: 15px;
        text-align: left;
    }
    ul li{
        font-size: 15px;
    }
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 20px;
    }
    .project-info p{
        font-size: 15px;
    }
    
    .navbar{
        gap: 10px;
    
    }
    .navbar a{
        font-size: 10px;
    }
}